.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    margin: 0 auto;
}

.header{
    display: inline-flex;
    height: 50px;
}

h1{
    font-size: 24px;
}

.fa-plus {
    float: right;
}

.done {
    text-decoration: line-through;
}

span{
    text-align: center;
    line-height: 40px;
    /*width: 40px;*/
    height: 40px;
    background-color: red;
    margin-right: 5px;
    color: #ffffff;
    display: inline-block;
    transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

.hidden {
    display: none;
}

ul {
    padding-left:0px;
    margin-top: 0px;
    margin-bottom:0px;
}

ul li{
    list-style-type: none;
    width: 250px;
}



input{
    height: 40px;
    width: 100%;
    border-width:0px;
    border:none;
}

li { background: green; }
li:nth-child(odd) { background: red; }

