.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    margin: 0 auto;
}

.header{
    display: inline-flex;
    height: 50px;
}

.header h1{
    padding-left: 20px;
    font-size: 25px;
}

.fa-plus {
    padding: 25px 0 25px 50px;
}

.done {
    text-decoration: line-through;
}

.fa-trash{
    text-align: center;
    line-height: 25px;
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    background-color: red;
}

.hidden {
    visibility: hidden;
}

ul {
    padding-left:0px;
    margin-top: 0px;
    margin-bottom:0px;
}

ul li{
    list-style-type: none;
    width: 250px;
}

input{
    height: 40px;
    width: 100%;
    border-width:0px;
    border:none;
}

li { background: green; }
li:nth-child(odd) { background: red; }