body{
    font-family: 'Space Mono', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
}

.header{
    display: inline-flex;
    height: 50px;
}

h1{
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D7007E;
    font-size: 24px;
    padding-left: 10px;
    padding-top:10px;
}

.fa-plus {
    padding-top: 8px;
    padding-right: 10px;
    float: right;
}

.done {
    text-decoration: line-through;
}

span{
    text-align: center;
    line-height: 40px;
    width: 0px;
    height: 40px;
    background-color: red;
    margin-right: 10px;
    color: #ffffff;
    display: inline-block;
    transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

.hidden {
    display: none;
}

ul {
    padding-left:0px;
    margin-top: 0px;
    margin-bottom:0px;
}

ul li{
    list-style-type: none;
    width: 300px;
}



input{
    height: 40px;
    width: 100%;
    border-width:0px;
    border:none;
}

li { background: #FCD1B8; }
li:nth-child(odd) { background: #FB8B6D; }

