body, html{
    height: 100%;
    font-family: 'Space Mono', monospace;
    background: #F5E899; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F5E899, #FFFCF7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5E899, #FFFCF7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5E899, #FFFCF7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5E899, #FFFCF7); /* Standard syntax */
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
}

h1{
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D7007E;
    font-size: 24px;
    padding-left: 10px;
    padding-top:10px;
}

.fa-plus {
    padding-top: 8px;
    padding-right: 10px;
    float: right;
}

.done {
    text-decoration: line-through;
}

span{
    text-align: center;
    line-height: 40px;
    width: 0px;
    height: 40px;
    background-color: red;
    margin-right: 10px;
    color: #ffffff;
    display: inline-block;
    transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

ul {
    padding-left:0px;
    margin-top: 0px;
    margin-bottom:0px;
}

ul li{
    list-style-type: none;
    width: 300px;
}

input{
    height: 40px;
    width: 290px;
    border-width:0px;
    border:none;
    padding-left: 10px;
}

li { background: #FCD1B8; }
li:nth-child(odd) { background: #FB8B6D; }

