.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 25%;
    margin: 0 auto;
}

.header{
    display: inline-flex;
}

.fa-plus {
    padding: 30px 0 30px 50px;
}

.done {
    text-decoration: line-through;
}

.fa-trash{
    text-align: center;
    line-height: 20px;
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    background-color: red;
}

.hidden {
    visibility: hidden;
}

ul {
    padding-left: 0px;
}

ul li{
    list-style-type: none;
    width: 200px;
}

input{
    height: 40px;
    width: 100%;
    border-width:0px;
    border:none;
}